<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <h3>Welcome to MeetMe, <%= @user.name %>! Thanks for signing up.</h3>
        <h3>Your username is: <%= @user.email %></h3>
      </div>
      <h3>Ready to create a new meeting? <%= link_to "Start", new_poll_url , class: "btn btn-primary" %></h3>  
    </div>
  </div>
</section>




