<section>
  <div class="row">
  <h1>SHOW PAGE</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_single">
        <h2>Name: <%= @user.name %></h2>
      </div>
      <div class="user_single">
        <h2>Email: <%= @user.email %></h2>
      </div>
      <h3>
        Ready to create a new meeting? <%= link_to "Start", new_poll_url , class: "btn btn-primary" %>
      </h3>  
    </div>
  </div>
</section>




