<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="well">
        <div class="about">
          <div>
            <h2><strong>About</strong></h2>
            <p>MeetMe is a scheduling app that allows users to select several meeting times their invitees can vote on, making it easier to arrange a meeting or an event for a group of people and potentially increasing invitee turnout.</p><br>

            <p>My background is in editing and copywriting, and I'm currently finishing up coding school while juggling two jobs. I work with a math curriculum-writing company, editing their HTML, and also write technical product copy for a large internet retailer.</p><br>

            <p>After taking several coding courses, working with custom databases, and teaching basic programming concepts to kids, I decided to attend Actualize to pursue a career in coding. I'm excited to be joining such a dynamic field and look forward to finding my first development job!</p><br>

            <p>Four fun facts about me:</p>
              <ul>
                <li><p>I'm an active orchestral musician.</p></li>
                <li><p>I love taking on new challenges.</p></li>
                <li><p>I enjoy all things outdoors-y.</p></li>
                <li><p>And last but not least, I love baking for friends.</p></li>
              </ul> 
      </div>
    </div>
  </div>
</section>