<h2>About</h2>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="poll_single">
      <div>
         <h3>MeetMe is a scheduling app that allows users to select several meeting times their invitees can vote on, making it easier to arrange a meeting or an event for a group of people and potentially increasing invitee turnout.</h3>

        <h3>My background is in editing and copywriting, and I'm currently finishing up coding school while juggling two jobs. I work with a math curriculum-writing company, editing their HTML, and also write technical product copy for a large internet retailer.</h3>

        <h3>After taking several coding courses, working with custom databases, and teaching basic programming concepts to kids, I decided to attend Actualize to pursue a career in coding. I'm excited to be joining such a dynamic field and look forward to finding my first development job!</h3>

        <h3>Four fun facts about me:</h3>
          <ol>
            <li>I'm an active orchestral musician</li>
            <li>I love taking on new challenges</li>
            <li>I enjoy all things outdoors-y</li>
            <li>And last but not least, I love baking for friends</li>
          </ol> 
      </div>
    </div>
  </div>
</section>