<section>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well">
        <div class="contact">
            <h2><strong>Contact</strong></h2><br>
            <p onclick="myFunction(this, 'red')">Get in touch by emailing <a href="mailto:flanagan.emily.j@gmail.com">Emily Flanagan</a>.</p> 
            
            <script>
            function myFunction(elmt, clr) {
              elmt.style.color = clr;
            }
            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>





