<section>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well">
        <div class="contact">
          <div style="display: inline-block; text-align: left">
            <h2><strong>Contact</strong></h2><br>
            <p>Feel free to get in touch by emailing <a href="mailto:flanagan.emily.j@gmail.com">Emily Flanagan</a>.</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





