<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Contact</h2>
      <p>Feel free to get in touch by sending an email to: flanagan.emily.j@gmail.com.</p> 
    </div>
  </div>
</section>