<section>
<% if @response %>
  <p>
    Looks like you haven't responded to any meeting invites yet. 
  </p>
<% end %>
  <h2> Your Invite Responses </h2>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="response-single">
        <h1>Edit Response</h1>
      
         
        <% if @response.user.id == current_user.id %>
          <%= link_to "Edit Response", response_url(response), method: :update, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>


