body  {
      
      background-image: url("sprinkles.png") ; background-size: cover;
      }

.column-left {
              width: 45%;
              float: left;
              padding-left: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.column-gap {
            width: 10px;
            }

.column-right {
              width: 45%;
              float: right;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.poll_single {
              

              }

.well {
      height: responsive;
      width: responsive;
      
      }



