body  {
      background-image: url("sprinkles.png") ; background-size: cover;
      }

.box {
      border-radius: 25px;
}

.btn.btn-primary {
                  font-size: 1.5rem;
}

a.btn.btn-success {
                  font-size: 1.5rem;
}

.btn.btn-warning {
                  font-size: 1.5rem;
}

.btn.btn-danger {
                font-size: 1.5rem;
}

.carousel .item {
                height: 400px;
                margin: 0 auto;
                }

.item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 330px;
          }

.dropdown-toggle {
                  margin: 5px 40px;
                  font-size: 1.25em;
                  }


.column-left {
              width: 48%;
              float: left;
              padding-left: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.column-left title {
                    width: 40%;
                    float: left;
                    }

.column-left button {
                    width: 40%;
                    float: right;
                    }

.column-left h2 {
                text-align: center;
                }


.column-gap {
            width: 10px;
            }

.column-right {
              width: 48%;
              float: right;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.column-right h2 {
                  text-align: center;
                  }

.well {
      height: responsive;
      width: responsive;
      background-color: #d0e9ea;
      color: #000000;
      align-self: center;
      border-radius: 25px;
      }

.well p {
        color: #000000;
}

.border {
        border-style: solid;
        background-color: #000000;
        padding: 25px;
        align-self: center;
        border-radius: 25px;
}

.border h3, p {
              color: #ffffff;
              text-align: auto;              
}

.border.border {
                color: #ffffff;
                text-decoration-color: #000000;
                padding: 20px;
}

.border.border h1 {
                  font-size: 3em;
                  font-weight: 400;
                  padding: 1px;
}

.box table {
            position: center;
}

.poll_single {
              text-align: center;
}

.poll_response th, td {
                      border-collapse: collapse;
}


table {
  th, td {
          border: 2px solid black;
          padding: 10px;
          text-align: center;
          font-weight: 400;
  }
}

table th {
          height: 30px;
          font-size: 1.75em;
          background-color: #81d2df;

}

table td {
          height: 50 px;
          font-size: 1.5em;
          background-color: #fffecc;
}

table {
      width: 550px;
      background-color: #ffffff;
      margin: auto;

}

.div inline-block {
                  text-align: left;
}

.contact {
          text-align: center;
}

.contact h2 inline-block {
                          text-align: left;
}

.red {
  color: red;
}

.user_single h1 {
              
              background-color: #000000;
              padding: 25px;
              align-self: center;
              border-radius: 25px;

}