body  {
      background-image: url("sprinkles.png") ; background-size: cover;
      }

.box {
      border-radius: 25px;
}

.btn.btn-primary {
                  font-size: 1.5rem;
}

a.btn.btn-success {
                  font-size: 1.5rem;
}

.btn.btn-warning {
                  font-size: 1.5rem;
}

.btn.btn-danger {
                font-size: 1.5rem;
}

.carousel .item {
                height: 400px;
                margin: 0 auto;
                }

.item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 330px;
          }

.dropdown-toggle {
                  margin: 5px 40px;
                  font-size: 1.25em;
                  }

.dropdown-menu a {
                  font-size: 1.25em;
                  font-weight: 600;
}

.column-left {
              width: 48%;
              float: left;
              padding-left: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.column-left title {
                    width: 40%;
                    float: left;

                    }

.column-left button {
                    width: 40%;
                    float: right;
                    }

.column-left h2 {
                text-align: center;
                }

.column-left h4 {
                text-align: left;
                }

.column-gap {
            width: 10px;
            }

.column-right {
              width: 48%;
              float: right;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              }

.column-right h2 {
                  text-align: center;
                  }

.column-right h4 {
                  text-align: center;
                  color: #000000;
                  }

.well {
      height: responsive;
      width: responsive;
      background-color: #95dee3;
      color: #000000;
      align-self: auto;
      border-radius: 25px;
      }

.well p {
        color: #000000;
}

.well h1 {
          background-color: #95dee3;
          font-weight: 600;
}

.well h3, p {
            font-weight: 600;
}

.thumbnail.well h2 {
                    font-weight: 600;
                    border-width: 3px;
                    background-color: #898e8c;
                    border-radius: 17px;
                    padding: 7px;
                    color: #ffffff;
}

.thumbnail.well h4 {
                    font-weight: 600;              
}

.border {
        border-style: solid;
        background-color: #898e8c;
        padding: 25px;
        align-self: center;
        border-radius: 25px;
}

.border h3, p {
              color: #ffffff;
              text-align: auto;              
}

.border.border {
                color: #ffffff;
                text-decoration-color: #000000;
                padding: 20px;
}

.border.border h1 {
                  font-size: 3em;
                  font-weight: 400;
                  padding: 1px;
}

.box table {
            position: center;
}

.poll_single h2, h3 {
                font-weight: 600;
}

.poll_response th, td {
                      border-collapse: collapse;
}

table {
  th, td {
          border: 4px solid black;
          padding: 10px;
          text-align: center;
          font-weight: 400;
  }
}

table th {
          height: 30px;
          font-size: 1.75em;
          background-color: #fffecc;

}

table td {
          height: 50 px;
          font-size: 1.5em;
          background-color: #ffffff;
}

table {
      width: 550px;
      background-color: #ffffff;
      margin: auto;

}

.div inline-block {
                  text-align: left;
}

.contact {
          text-align: center;
}

.contact h2, p  {
                text-align: left;
}

.red {
  color: red;
}

.user_single {
              text-align: center;
}

.user_single h1 {
              background-color: #898e8c;
              padding: 25px;
              align-self: center;
              border-radius: 25px;
}

.about h2 {
          font-weight: 600;
}

.fun .well {
            border-style: solid;
            border-width: 1px;
            border-color: #898e8c;
            background-color: #898e8c;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;  
}

.fun .well p, li {
              color: #ffffff;
}